In [1]:
import pandas as pd
import numpy as np
import pytz
from datetime import datetime, timedelta
from pg_db import PG_DB, Usages
from urllib.parse import urlparse

In [2]:
def tz_aware(dt):
    return dt.tzinfo is not None and dt.tzinfo.utcoffset(dt) is not None

In [3]:
db_url = 'postgresql://ems_user:87654321!@192.168.5.144:5432/ems_proto'
parts = urlparse(db_url)
db = PG_DB(parts.hostname, parts.port, parts.path[1:], parts.username, parts.password)
usages = Usages(db)

In [4]:
today_ts = pd.Timestamp(datetime.now().timestamp(), unit='s', tz=pytz.timezone('Asia/Seoul'))
print(tz_aware(today_ts), today_ts)
begin_time = today_ts.replace(hour=0, minute=0, second=0, microsecond=0, nanosecond=0)
print('begin_time', tz_aware(begin_time), begin_time)
end_time = today_ts.replace(hour=23, minute=59, second=0, microsecond=0, nanosecond=0)
print('end_time', tz_aware(end_time), end_time)

True 2021-09-13 14:31:40.297502041+09:00
begin_time True 2021-09-13 00:00:00+09:00
end_time True 2021-09-13 23:59:00+09:00

In [5]:
meter_id = 1

In [6]:
# localtime으로 조회하기
QUERY_FMT = "SELECT time, energy FROM usage WHERE \"meterId\"={} AND time>='{}' AND time<='{}' ORDER BY time"
query = QUERY_FMT.format(meter_id, begin_time, end_time)
print(query)
df = pd.read_sql(query, db.conn, index_col=['time'], parse_dates=True)
# 날짜 보기 편리를 위해 우리나라 시간존으로 설정
df.index = df.index.tz_convert('Asia/Seoul')
df.head()

SELECT time, energy FROM usage WHERE "meterId"=1 AND time>='2021-09-13 00:00:00+09:00' AND time<='2021-09-13 23:59:00+09:00' ORDER BY time

                                energy
time
2021-09-13 00:00:00+09:00  115156304.0
2021-09-13 00:01:00+09:00  115156304.0
2021-09-13 00:02:00+09:00  115156304.0
2021-09-13 00:03:00+09:00  115156304.0
2021-09-13 00:04:00+09:00  115156304.0

Dataframe indexes의 timestame은 pytz.UTC 타임존 기준으로 데이터 비교 추가를 위해서는 이 형식의 timestamp를 생성해야됨

In [7]:
print(df.dtypes)
print(df.index.shape)
if df.index.shape[0] > 0:
    print(df.index[0], begin_time, df.index[0] == begin_time)
    if df.index[0] != begin_time:
        df.loc[begin_time] = np.NaN
        print(df.loc[begin_time], 'added')
    if df.index[-1] != end_time:
        df.loc[end_time] = np.NaN
        print(df.loc[end_time], 'added')
    print(df.index[-2:])
else:
    df.loc[begin_time] = np.NaN
    print(df.loc[begin_time], 'added to empty ds')
    df.loc[end_time] = np.NaN
    print(df.loc[end_time], 'added to empty ds')
print(df.dtypes)

energy    float64
dtype: object
(871,)
2021-09-13 00:00:00+09:00 2021-09-13 00:00:00+09:00 True
energy   NaN
Name: 2021-09-13 23:59:00+09:00, dtype: float64 added
DatetimeIndex(['2021-09-13 14:30:00+09:00', '2021-09-13 23:59:00+09:00'], dtype='datetime64[ns, Asia/Seoul]', name='time', freq=None)
energy    float64
dtype: object

In [8]:
df.tail()

                                energy
time
2021-09-13 14:27:00+09:00  115644000.0
2021-09-13 14:28:00+09:00  115646920.0
2021-09-13 14:29:00+09:00  115649824.0
2021-09-13 14:30:00+09:00  115652824.0
2021-09-13 23:59:00+09:00          NaN

In [9]:
df.resample('1H').last()

                                energy
time
2021-09-13 00:00:00+09:00  115156304.0
2021-09-13 01:00:00+09:00  115156304.0
2021-09-13 02:00:00+09:00  115156304.0
2021-09-13 03:00:00+09:00  115156304.0
2021-09-13 04:00:00+09:00  115156304.0
2021-09-13 05:00:00+09:00  115156304.0
2021-09-13 06:00:00+09:00  115156310.0
2021-09-13 07:00:00+09:00  115156310.0
2021-09-13 08:00:00+09:00  115156310.0
2021-09-13 09:00:00+09:00  115165136.0
2021-09-13 10:00:00+09:00  115229264.0
2021-09-13 11:00:00+09:00  115314430.0
2021-09-13 12:00:00+09:00  115418640.0
2021-09-13 13:00:00+09:00  115566880.0
2021-09-13 14:00:00+09:00  115652824.0
2021-09-13 15:00:00+09:00          NaN
2021-09-13 16:00:00+09:00          NaN
2021-09-13 17:00:00+09:00          NaN
2021-09-13 18:00:00+09:00          NaN
2021-09-13 19:00:00+09:00          NaN
2021-09-13 20:00:00+09:00          NaN
2021-09-13 21:00:00+09:00          NaN
2021-09-13 22:00:00+09:00          NaN
2021-09-13 23:00:00+09:00          NaN

In [24]:
begin_time = datetime.now().replace(hour=0, minute=0, second=0)
end_time = begin_time + timedelta(days=1) - timedelta(seconds=1)
freq = '1H'
meterId = 1
df = usages.fill_resample(meterId, begin_time, end_time, freq, 'wh')
df.to_json(orient="split")

'{"columns":["energy","delta"],"index":[1631458800000,1631462400000,1631466000000,1631469600000,1631473200000,1631476800000,1631480400000,1631484000000,1631487600000,1631491200000,1631494800000,1631498400000,1631502000000,1631505600000,1631509200000,1631512800000,1631516400000,1631520000000,1631523600000,1631527200000,1631530800000,1631534400000,1631538000000,1631541600000],"data":[[31988.0,null],[31988.0,0.0],[31988.0,0.0],[31988.0,0.0],[31988.0,0.0],[31988.0,0.0],[31988.0,0.0],[31988.0,0.0],[31988.0,0.0],[31990.0,2.0],[32008.0,18.0],[32032.0,24.0],[32061.0,29.0],[32102.0,41.0],[32144.0,42.0],[null,null],[null,null],[null,null],[null,null],[null,null],[null,null],[null,null],[null,null],[null,null]]}'

In [21]:
begin_time = datetime.now().replace(hour=0, minute=0, second=0)
end_time = begin_time + timedelta(days=1) - timedelta(seconds=1)
freq = '1H'
meters_df = None
for i, meterId in enumerate([1, 9]):
    df = usages.fill_resample(meterId, begin_time, end_time, freq, 'wh')
    # 하나의 데이터셋에 여러 메터를 보내기 위해 Meter ID를 붙여서 필드 이름을 붙임
    energy_column = f'{meterId}#energy'
    delta_column = f'{meterId}#delta'
    print(energy_column, delta_column)
    df.rename(columns = {'energy': energy_column, 'delta': delta_column}, inplace = True)
    if i == 0:
        meters_df = df
    else:
        meters_df[energy_column] = df[energy_column]
        meters_df[delta_column] = df[delta_column]
print(meters_df)

1#energy 1#delta
9#energy 9#delta
-----------------------
                           1#energy  1#delta  9#energy  9#delta
time
2021-09-13 00:00:00+09:00   31988.0      NaN   68277.0      NaN
2021-09-13 01:00:00+09:00   31988.0      0.0   68277.0      0.0
2021-09-13 02:00:00+09:00   31988.0      0.0   68277.0      0.0
2021-09-13 03:00:00+09:00   31988.0      0.0   68277.0      0.0
2021-09-13 04:00:00+09:00   31988.0      0.0   68277.0      0.0
2021-09-13 05:00:00+09:00   31988.0      0.0   68277.0      0.0
2021-09-13 06:00:00+09:00   31988.0      0.0   68277.0      0.0
2021-09-13 07:00:00+09:00   31988.0      0.0   68277.0      0.0
2021-09-13 08:00:00+09:00   31988.0      0.0   68277.0      0.0
2021-09-13 09:00:00+09:00   31990.0      2.0   68278.0      1.0
2021-09-13 10:00:00+09:00   32008.0     18.0   68284.0      6.0
2021-09-13 11:00:00+09:00   32032.0     24.0   68292.0      8.0
2021-09-13 12:00:00+09:00   32061.0     29.0   68303.0     11.0
2021-09-13 13:00:00+09:00   32102.0     41.0   68320.0     17.0
2021-09-13 14:00:00+09:00   32143.0     41.0   68337.0     17.0
2021-09-13 15:00:00+09:00       NaN      NaN       NaN      NaN
2021-09-13 16:00:00+09:00       NaN      NaN       NaN      NaN
2021-09-13 17:00:00+09:00       NaN      NaN       NaN      NaN
2021-09-13 18:00:00+09:00       NaN      NaN       NaN      NaN
2021-09-13 19:00:00+09:00       NaN      NaN       NaN      NaN
2021-09-13 20:00:00+09:00       NaN      NaN       NaN      NaN
2021-09-13 21:00:00+09:00       NaN      NaN       NaN      NaN
2021-09-13 22:00:00+09:00       NaN      NaN       NaN      NaN
2021-09-13 23:00:00+09:00       NaN      NaN       NaN      NaN

In [25]:
meters_df.to_json(orient="split")

'{"columns":["1#energy","1#delta","9#energy","9#delta"],"index":[1631458800000,1631462400000,1631466000000,1631469600000,1631473200000,1631476800000,1631480400000,1631484000000,1631487600000,1631491200000,1631494800000,1631498400000,1631502000000,1631505600000,1631509200000,1631512800000,1631516400000,1631520000000,1631523600000,1631527200000,1631530800000,1631534400000,1631538000000,1631541600000],"data":[[31988.0,null,68277.0,null],[31988.0,0.0,68277.0,0.0],[31988.0,0.0,68277.0,0.0],[31988.0,0.0,68277.0,0.0],[31988.0,0.0,68277.0,0.0],[31988.0,0.0,68277.0,0.0],[31988.0,0.0,68277.0,0.0],[31988.0,0.0,68277.0,0.0],[31988.0,0.0,68277.0,0.0],[31990.0,2.0,68278.0,1.0],[32008.0,18.0,68284.0,6.0],[32032.0,24.0,68292.0,8.0],[32061.0,29.0,68303.0,11.0],[32102.0,41.0,68320.0,17.0],[32143.0,41.0,68337.0,17.0],[null,null,null,null],[null,null,null,null],[null,null,null,null],[null,null,null,null],[null,null,null,null],[null,null,null,null],[null,null,null,null],[null,null,null,null],[null,null,null,null]]}'